@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --background-color: rgb(30, 87, 68);
  --border-color: rgb(255, 255, 255, 0.5);
  --highlight-color: rgb(95, 209, 120);
  --background-color-shade-1: #1b4e3d;
  --background-color-shade-2: #356857;
  --background-color-shade-3: #184636;
  --gray-color-1: #cccccc;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--border-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-color-1);
}

.accordion {
  background-color: rgb(30, 87, 68) !important;
  overflow-y: scroll;
}

.accordion-button {
  color: rgb(242, 247, 245) !important;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  padding: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 45px;
}

/*button when clicked*/
.accordion-button:not(.collapsed) {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
}

/*arrow*/
.accordion-button:not(.collapsed)::after {
  filter: brightness(0%);
  invert: 90%;
}

/* button after clicked*/
.accordion-button:focus {
  box-shadow: none;
  border: 1px solid var(--border-color);
}

.accordion-button:hover {
  background-color: rgba(23, 105, 71, 0.719) !important;
}

.accordion-body {
  background-color: rgb(255, 255, 255);
}

.dropdown-item {
  font-size: 25px;
  color: var(--background-color);
  text-decoration: none;
  display: block;
  font-family: "Raleway", sans-serif;
}

.dropdown-item:hover {
  color: rgba(50, 155, 111, 0.548) !important;
}
