/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* default colors */
/* Do not use any colors outside of the ones specified */
:root {
  --background-color: rgb(30, 87, 68);
  --border-color: rgb(255, 255, 255, 0.5);
  --highlight-color: rgb(95, 209, 120);
  --background-color-shade-1: #1b4e3d;
  --background-color-shade-2: #356857;
  --background-color-shade-3: #184636;
  --gray-color-1: #cccccc;
}

/* */
body {
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--border-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-color-1);
}

/* layout */
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

/* images */
.image {
  position: relative;
  width: 300px;
  margin: auto;
}

.image--img {
  width: 100%;
  display: block;
  margin-top: 3em;
  margin-bottom: 3em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 87, 68, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.25s;
}

.overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}
.overlay:hover {
  opacity: 100%;
}

.overlay:hover > * {
  transform: translateY(0);
}

.title {
  font-weight: 500;
}
.desc {
  font-size: 0.7em;
  padding-top: 4px;
  opacity: 80%;
}

@media (max-width: 1000px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  /* images */
  .image {
    position: relative;
    width: 250px;
    margin: auto;
  }

  .image--img {
    width: 100%;
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 87, 68, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.25s;
  }

  .overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
  }
  .overlay:hover {
    opacity: 100%;
  }

  .overlay:hover > * {
    transform: translateY(0);
  }

  .title {
    font-weight: 500;
  }
  .desc {
    font-size: 0.7em;
    padding-top: 4px;
    opacity: 80%;
  }
}

@media (max-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  /* images */
  .image {
    position: relative;
    width: 200px;
    margin: auto;
  }

  .image--img {
    width: 100%;
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 87, 68, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.25s;
  }

  .overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
  }
  .overlay:hover {
    opacity: 100%;
  }

  .overlay:hover > * {
    transform: translateY(0);
  }

  .title {
    font-weight: 500;
  }
  .desc {
    font-size: 0.7em;
    padding-top: 4px;
    opacity: 80%;
  }
}
